<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Visits</title>
</head>
<body>
    <h1><b>Visits</b></h1>

    <table>
        <thead>
            <tr>
                <td>id</td>
                <td>Start Date</td>
                <td>End Date</td>
                <td>Description</td>
            </tr>
        </thead>
        <tbody>
        <tr th:each="visit : ${visits}">
            <td th:text="${visit.id}"></td>
            <td th:text="${visit.startDate}"></td>
            <td th:text="${visit.endDate}"></td>
            <td th:text="${visit.description}"></td>
        </tr>
        </tbody>
    </table>

</body>
</html>